.DailyForecast {
  text-align: center;
  color: white;
  margin-bottom: 0px;
}

.DailyForecast-temp-min {
  opacity: 0.6;
  margin-left: 6px;
}

.DailyForecast-temps {
  margin-top: 6px;
}

.DailyForecast-day {
  margin-bottom: 3px;
}
