.col {
  text-align: center;
  padding: 2px;
}

.weather-forecast {
  margin: 30px 20px;
  color: white;
  text-align: center;
}

.weather-forecast-date {
  font-size: 15px;
  opacity: 0.9;
}

.weather-forecast-temperature-max {
  font-weight: 600;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.Weather .AnimatedIcons {
  max-width: 120px;
  display: inline;
  position: relative;
  top: 5px;
  right: 12px;
}

.temperatures-display .units {
  position: relative;
  top: -34px;
}

.temperatures-display {
  margin-top: 10px;
  margin-bottom: 10px;
}

.units {
  color: white;
}

.humidityWind {
  color: white;
  opacity: 0.9;
}
